@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  background: #f3f4f6;
  color: #171717;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic Neo", Arial,
    Helvetica, sans-serif;
}
